.floating-parent{
    position: fixed;
    bottom: 8%;
    right: 18px;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: rgb(1, 20, 4);
    z-index: 2;
    
}
.floating-parent .right-button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-color: rgb(146, 219, 112);
    border-style: solid;
    border-color: rgb(0, 0, 8);
    border-width: 0px;
    float: right;
    background-size: 24px;
    background-position: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.cart{
    transform: translate(0%, 110%);
    cursor: pointer;
}
.floating-parent  .tooltip{
    width: 200px;
    position: absolute;
    transform: translate(-70%, 20%);
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    font-size: large;
    text-align: center;
    border-radius: 25px;
    padding: 10px 18px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.floating-parent:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
}
.floating-parent .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: white;
    bottom : 13px;
    left : 94%;
    transform: rotate(45deg);
}
.floating-parent:hover .right-button{
    background: aqua;
    transition: ease 0.4s;
}