.sellerItemsPage {
    width: 90%;
    min-height: 580px;
    background-color: #ACDF87;
    margin: 0px auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

Card.itemCard {
    visibility: hidden;
}

.sellerItemRow {
    width: 90%;
    height: 60px;
    background-color: #ACDF87;
    margin: 0px auto;
    border-radius: 10px;
    padding-top: 8px
}

.SearchForm {
    width: 200px;
    position: relative;
}

.searchInput {
    width: 400px;
}

.itemAlert{
    background-color: #ACDF87;
  
  
}