.Sellerlanding {
    width: 90%;
    height: 530px;
    background-color: #ACDF87;
    margin: 0px auto;
    border-radius: 10px;
}

.seller {
    margin: 0px auto;
    background-color: rgb(235, 235, 235);
    padding: 10px;
}

.sellerimg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px auto;
    display: block;
}

.alertI{
    width: auto;
}