.fcontainer {
    padding: 100px;
    background-color:rgba(239, 235, 235, 0.904);
    border-radius: 10px;
    border: 2px double black;
    margin-top: 150px;
    width: 700px;
    margin: 0px auto;
  
  }
  
  .label{
      font-size: 20px;
      font-weight: bold;
      color: black;
  }
  
  .button {
    background-color: #4caf50; /* Green */
    transition: 0.5ms;
    border: #4caf50;
  }
  
  .button:hover {
    background-color: #61ba65;
    cursor: pointer;
    
  }
  
  .password{
      margin-top: 10px;
      width: 350px;
      
      
  }
  .pwcontainer{
    justify-content: center;
  }
  /* 
  .mb-3{
      padding: 100px;
  } */